@import url('https://fonts.googleapis.com/css2?family=Kalam:wght@300;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Capriola&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Philosopher:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Palanquin:wght@100;200;300;400;500;600;700&display=swap');


$Celeste1: #49C6E5; 
$Celeste2: #54DEFD;
$Blanco: #FFFBFA;
$VerdeAgua1: #00BD9D; 
$VerdeAgua2: #09CCBF; 
$Violeta: #4638A6;
$Lila: #877DF3;
$Gris: #b6b6b6;
$Negro: #000000;
$Titulo1: 'Kalam', cursive;
$Titulo2: 'Philosopher', sans-serif;
$SubTitulo: 'Capriola', sans-serif;
$Texto: 'Palanquin', sans-serif;